#gridout1{
    display: grid;
    grid-template-columns: 25% 75%;
    gap: 20px;
    justify-content: space-evenly;

}
#gridout1>div:nth-child(1){
   
    margin-left: 30px;
}
.gridin12{
   
  margin-right: 30px;
  margin-left: 20px;
 
    
}
.gridin11>p:nth-child(1){
    font-size: 14px;
    font-family: Montserrat Medium,sans-serif;
    font-weight:bold;
    letter-spacing: 0.2px;
    line-height: 8px;
    color: rgb(99, 92, 92);

    
}
.gridin11>p:nth-child(2){
   font-style: italic;
   line-height: 0px;
   color: rgb(124, 104, 104);
}
.prod{
    font-size: 17px;
    font-family: Montserrat Medium,sans-serif;
    color: rgb(161, 150, 150);
    line-height: 10px;
    font-style: italic;
    text-decoration: none;
}
select{
    border-color: rgb(171, 171, 240);
    height: 40px;
    width: 300px;
    border-radius: 5px;
}
.topflex{
display: flex;
justify-content: space-between;
align-items: center;
}
.topflex>p{
font-size: 22px;
    font-family: Montserrat Medium,sans-serif;
    font-weight:bold;
    letter-spacing: 0.2px;
    line-height: 8px;
    color: rgb(99, 92, 92);

}
hr{
color: rgb(151, 145, 145);
}
#gridout1{
    display: grid;
    grid-template-columns: 23% 77%;
    gap: 20px;
    justify-content: space-evenly;

}
#gridout1>div:nth-child(1){
   
    margin-left: 30px;
}
.gridin12{
   
  margin-right: 20px;
  margin-left: 20px;
 
    
}
.gridin11>p:nth-child(1){
    font-size: 14px;
    font-family: Montserrat Medium,sans-serif;
    font-weight:bold;
    letter-spacing: 0.2px;
    line-height: 8px;
    color: rgb(99, 92, 92);

    
}
.gridin11>p:nth-child(2){
   font-style: italic;
   line-height: 0px;
   color: rgb(124, 104, 104);
}
.prod{
    font-size: 17px;
    font-family: Montserrat Medium,sans-serif;
    color: rgb(161, 150, 150);
    line-height: 10px;
    font-style: italic;
    text-decoration: none;
}
select{
    border-color: rgb(171, 171, 240);
    height: 40px;
    width: 300px;
    border-radius: 5px;
    margin-bottom: 5px;
}
.topflex{
display: flex;
justify-content: space-between;
align-items: center;
}
.topflex>p{
font-size: 22px;
    font-family: Montserrat Medium,sans-serif;
    font-weight:bold;
    letter-spacing: 0.2px;
    line-height: 8px;
    color: rgb(99, 92, 92);

}
hr{
color: rgb(151, 145, 145);
}
#filterpricerange{
    margin-top: 10px;
}
#containershop{
    display: grid;
    grid-template-columns: repeat(4,250px);
    gap: 5px;
}
.productcont{
    width: 250px;
    height: 400px;
    text-align: center;
    
    
    font-size: 17px;
    font-family: Montserrat Medium,sans-serif;
    color: rgb(161, 150, 150);
    line-height: 10px;
    font-style: italic;
    text-decoration: none;
}
.productcont>img{
    width: 90%;

}
.productcont>p{
    line-height: 20px;
}
.addtocarbtn{
    background-color: #12284c;
    text-align: center;
    color: #fff;
    width: 250px;
    height: 44px;
    font-size: 14px;
    font-weight: bold;
    border: none;
   
}
.divout{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2px;
    
}
.quantity{
    width: 70px;
    height: 26px;
    border: 1px solid rgb(12, 211, 211);
    background-color: transparent;
}
.divin1{
    display: flex;
}
.divin1>button{
    height: 30px;
    border: 1px solid rgb(12, 211, 211);
    background-color: transparent;
}
.divin2>button{
    height: 30px;
    border: 1px solid rgb(12, 211, 211);
    background-color: transparent;
    color:#12284c ;
    font-weight: bold;
}