#login{
    height: 750px;
    width: 52%;
     /* border: 1px solid blue;  */
    margin: auto;
    margin-top: 40px;
    background-color: #fff;
    /* box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; */
}
.h1Tag{

    font-weight: 500;
font-style: normal;
transition: color .2s ease-in-out;
letter-spacing: .2em;
text-transform: uppercase;
font-family: Montserrat Regular,sans-serif;
font-size: 34px;
letter-spacing: 1px;
line-height: 29px;
text-align: center;
color: #12284c;
/* margin-top: 0 */
}
.PTag{
    font-family: Montserrat Light,sans-serif;
letter-spacing: .5px;
font-size: 16px;
line-height: 24px;
text-align: center;
font-weight: inherit;
/* margin-top: 0; */
font-weight: 200;
font-style: normal;
color: #12284c;
line-height: 1.65;
margin-top: 40px;


}
.inputTag{
    margin-bottom: 15px;
    /* position: relative; */
 
display: block;
padding: 14px 16px;
border-radius: 0;
border: 1px solid #12284c;
width: 70%;
line-height: normal;
resize: none;
transition: border-color .1s ease-in-out;
background: transparent;
color: inherit;
font: inherit;
margin: auto;
color: inherit;
font: inherit;
cursor: default;

}
#btnTag{
  
    /* position: relative; */
display: inline-block;
padding: 15px;
border-radius: 0;
text-transform: uppercase;
text-align: center;
font-family: Montserrat Semi Bold,sans-serif;
font-size: 14px;
line-height: 14px;
transition: color .45s cubic-bezier(.785,.135,.15,.86),border .45s cubic-bezier(.785,.135,.15,.86);
z-index: 1;
-webkit-tap-highlight-color: black;
color: #fff;
background-color: #12284c;
width: 44%;
margin: auto;
margin-left: 27%;
margin-top: 10px;
}  
.divTag{
display: flex;
/* display: block; */
height: 70px;
width: 71%;
margin: auto;
margin-top: 30px;
/* border: 1px solid blue; */
background-color: #d1e8ee; 
padding: 10px;
/* margin: 20px 0;  */
}
.spanTag{
font-size: 18px;
line-height: 18px;
color: #12284c;
line-height: 1.65;
font-weight: 200;
}
#join{
display: flexbox;

}
.loyalty-label__left{

-ms-flex-align: center;
align-items: center;
font-size: 18px;
line-height: 18px;
}
.loyalty-label__right{
width: 100%;
margin-top: 8px;
font-family: Montserrat Light,sans-serif;
font-weight: 400;
font-style: normal;
/* color: #12284c; */
line-height: 1.65; 
color: #607899;
}  
.loyalty-join{

position: relative;
top: -2px;
padding-right: 6px;
font-size: 32px;
line-height: 18px;
letter-spacing: 1.14px;
font-family: Quickbrush,serif;
text-transform: lowercase;
color: #607899;
}
.bluerewards-logotype{
text-transform: uppercase;
font-size: 18px;
line-height: 18px;
letter-spacing: 1.18px;

font-style: normal;
color: #607899;
font-weight: 200;
}
a{
color: #607899; 
}